*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
}
a:focus, button:focus, input:focus, select:focus, textarea:focus {
    box-shadow: none;
    outline: #000 dotted 2px;
    outline-offset: .05em;
}

input[type="text"], input[type="number"], select, textarea {
  font-size: 16px;
}
.container {
    width: 800px;
    margin: 0 auto;
}